//================ MENU =====================

.menu {
  &__list {
    display: flex;
    gap: 3rem;
    color: $colorWhite;
  }

  &__link {
    border: .1rem solid transparent;
    border-radius: .6rem;
    padding: 1.2rem 2.5rem;
    transition: all .4s;

    &:hover {
      border: 1px solid rgba($colorWhite, .3);
      color: $colorOrange;
    }
  }
}

.burger-menu-btn {
  display: none;
  border: none;
  background-color: transparent;
  width: 30px;
  height: 20px;
  justify-content: space-between;
  flex-direction: column;
  padding: 0;
  z-index: 5;
  cursor: pointer;
  z-index: 9999;

  span {
    display: inline-block;
    width: 100%;
    height: 2px;
    // background-color: $btnBgColor;

  }
}

//================ TITLE =====================

.subtitle {
  text-transform: uppercase;
  letter-spacing: .3rem;
  color: $colorOrange;
}

.title {
  font-weight: 800;
  
  &--main {
    letter-spacing: -.2rem;
    font-size: 7.2rem;
    line-height: 1.11;
  }

  &--secondary {
    font-size: 5.6rem;
    line-height: 1.14;
    letter-spacing: -.1rem;
  }

  &--tertiary {
    font-size: 4rem;
    line-height: 1.2;
  }

  &--small {
    font-size: 2.4rem;
    line-height: 1.33;
    font-weight: 700;
  }
}

//================ TEXT =====================

.text {
  color: rgba($colorTextMain, .64);

  &--bold {
    font-size: 2rem;
    line-height: 1.6;
  }
}

//================ BUTTON =====================

.button {
  border-radius: $radiusSmall;
  display: inline-block;
  // for tag button
  background-color: transparent;
  border: none;
  cursor: pointer;

  &--orange {
    font-weight: 900;
    line-height: 1;
    text-transform: uppercase;
    font-size: 1.4rem;
    background-color: $colorOrange;
    transition: background-color .3s;
    padding: 1.8rem 2.3rem 1.6rem;

    &:hover {
      background-color: rgba($colorOrange, .7);
    }
  }

  &--simple {
    transition: color .3s;

    &:hover {
      color: $colorOrange;
    }
  }

  &--white {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 1.4rem;
    background-color: $colorWhite;
    border: .1rem solid transparent;
    box-shadow: 0 .3rem .9rem 0 rgba($colorTextMain, 0.08);
    transition: border-color .4s, color .3s;
    padding: 1.8rem 4rem 1.6rem;

    &:hover {
      border-color: $colorOrange;
      color: $colorOrange;
    }
  }

  &--box {
    display: flex;
  }
}

//================ VIDEO =====================

.video {
  &__container {
    width: 57rem;
    position: relative;
    color: $colorWhite;
    overflow: hidden;
    background: $colorBiez;
    border-radius: $radiusSmall;

    & video {
      width: 100%;
    }
  }

  &__btn {
    cursor: pointer;
    z-index: 9999;
    opacity: 0;
    user-select: none;
    transform: scale(0);

    &-box {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__time {
    position: absolute;
    bottom: 2.2rem;
    left: 2.2rem;
    z-index: 99;
    padding: 0.3rem 1rem 0 .9rem;
    border-radius: $radiusSmall;
    user-select: none;
    background-color: rgba($colorTextMain, .24);
  }
}

.show-state {
  transform: scale(1);
  opacity: 1;
}

.show-controls {
  opacity: 1 !important;
  transform: translateY(0) !important;
  visibility: visible !important;
}

//================ LOADER =====================

.loader {
  position: absolute;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: .5rem solid $colorWhite;
  border-top-color: transparent;
  z-index: 9999;
  animation: rotation 2s infinite linear;
  display: none;
}

//================ LIST =====================

.list {
  li {
    padding-inline-start: 4.8rem;
    position: relative;

    &:not(:last-child) {
      margin-block-end: 1.6rem;
    }
    
    &::before {
      content: "";
      inline-size: 3.2rem;
      block-size: 3.2rem;
      background-color: $colorOrange;
      border-radius: 50%;
      position: absolute;
      left: 0;
      vertical-align: middle;
      background-image: url("../images/check.svg");
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}

//================ CARD =====================

.cards {
  display: flex;
  align-items: stretch;

  &.hovered {
    align-items: end;

    & > .card {
      cursor: pointer;
      transition: all .4s ease-out;
      border-right: .1rem solid $colorBorder;

      &:hover {
        background-color: $colorWhite;
    
        & .card__icon { block-size: 8rem; }
        &.professional { border-top-right-radius: $radiusSmall; }
        &.accessibility { border-top-left-radius: $radiusSmall; }
        & .card__icon { transform: scale(1); opacity: 1; }
        & img { transform: scale(1); opacity: 1; }
      }
    }

    & .card__icon {
      block-size: 0;
      opacity: 0;
      transform: scale(0);
      transition: all .4s ease-out;

      & > img {
        transform: scale(0);
        opacity: 0;
        transition: all .4s ease-out;
      }
    }
  }
}

.card {
  display: flex;
  flex-direction: column;
  inline-size: 50%;
  padding: 4.8rem;
  border: .1rem solid $colorBorder;

  & > *:last-child {
    margin-block-start: auto;
  }

  &:not(:last-child) { border-right: none; }


  &.professional {
    border-top-left-radius: $radiusSmall;
    border-bottom-left-radius: $radiusSmall;
    transition: all .4s ease-out;
  }

  &.accessibility {
    border-top-right-radius: $radiusSmall;
    border-bottom-right-radius: $radiusSmall;
    margin-inline-start: -.1rem;
    transition: all .4s ease-out;
  }

  &__icon {
    inline-size: 8rem;
    block-size: 8rem;
    border-radius: 50%;
    background-color: $colorOrange;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-block-end: 4rem;
  }

  &__title {
    margin-block-end: 1.9rem;
  }

  &__text {
    &:not(:last-child) { margin-block-end: 2.6rem; }
  }
}

//================ USER =====================

.user {
  &--window {
    inline-size: 24.6rem;
    block-size: 30.5rem;
    border-top-left-radius: 15rem;
    border-top-right-radius: 15rem;
    border-bottom-left-radius: $radiusMedium;
    border-bottom-right-radius: $radiusMedium;
    display: flex;
    align-items: end;
    overflow: hidden;
    justify-content: center;
  }

  &--circle {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 50%;
    overflow: hidden;
  }
}

//================ FORM =====================

.form {
  padding: 70px 40px;
  background-color: #fff;
  box-shadow: 0px 4px 11px 0px rgba(199, 175, 165, 0.30);
  margin-top: 110px;

  &__title {
    font-size: 25px;
    font-family: "Yeseva One", serif;
    text-align: center;
    margin-bottom: 50px;
  }

  &__email {
    margin-bottom: 50px;
  }

  input {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #000;
    // color: $btnColor;
    padding: 0 10px;
    font-size: 16px;

    &::placeholder {
      // color: $placeholderColor;
      letter-spacing: 1px;
    }

    &:focus {
      // outline: 1px solid rgba($btnBgColor, .3);
    }
  }
}

//================ ACCORDEON =====================

.accordeon {
  &__item {
    &:not(:first-child) {
      margin-top: 10px;
    }
  }

  &__title {
    padding: 16px 53px 16px 13px;
    font-size: 16px;
    font-family: "Yeseva One", serif;
    background-color: #fff;
    position: relative;
    // box-shadow: 0px 4px 11px 0px rgba(199, 175, 165, 0.30);
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      width: 16px;
      height: 16px;
      background-image: url(../images/src/arrow-down.svg);
      background-repeat: no-repeat;
      background-position: center center;
      right: 16px;
      top: 50%;
      transform: translateY(-50%) rotate(0deg);
      transition: transform .3s;
    }
  }

  &__text {
    background-color: #fff;
    line-height: 1.5;
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s;
  }

  &__list {
    list-style: decimal;
    padding: 0 6px 12px 20px;
  }
}

.accordeon__title.accordeon__title--active::after {
  transform: translateY(-50%) rotate(180deg);
}