$colorMainBg: #28293e;
$colorSecondaryBg: #fdf0e9;

$colorTextMain: #391400;

$colorBorder: #f3d1bf;

$colorWhite: #fff;
$colorOrange: #ef6d58;
$colorPurple: #b550f8;
$colorYellow: #f7cc47;
$colorGrey: #dfe0e9;
$colorBiez: #f9e5da;
$colorBiezDark: #F6DACA;
$colorDarkBlue: #494a69;

