    <!-- ABOUT -->
     <section class="about">
      <div class="container">
        <div class="about__wrapper">
          <div class="about__images">
            <div class="about__rect"></div>
            <div class="about__arrow">
              <img src="images/about-abstract-1.svg" alt="Arrow Icon">
            </div>
            <div class="about__card">
              <div class="about__card-circle-box">
                <div class="about__card-circle circle--1"></div>
                <div class="about__card-circle circle--2"></div>
                <div class="about__card-circle circle--3"></div>
              </div>
              <div class="about__card-rect-box">
                <div class="about__card-rect rect--1"></div>
                <div class="about__card-rect rect--2"></div>
              </div>
            </div>
            <div class="about__cloud">
              <img src="images/about-abstract-2.svg" alt="Cloud Icon">
            </div>
            <img class="about__img" src="images/about-img.webp" alt="Brow Chair">
            <div class="about__user">
              <img src="images/about-user.webp" alt="Men with black hair smiling">
            </div>
          </div>
          <div class="about__content">
            <h5 class="about__subtitle subtitle">About</h5>
            <h2 class="about__title title title--secondary">An Experience Design Agency</h2>
            <strong class="text--bold">Provides a full service range</strong>
            <p class="about__text text">
              Ability to put themselves in the merchant's shoes. It is meant to partner on the long run, and work as an extension of the merchant's team.
            </p>
            <div class="about__button">
              <a href="#" class="button button--white">About Us</a>
            </div>
          </div>
        </div>
        <div class="about__advantages">
          <div class="about__advantages-experience">
            <div class="about__advantages-value">27</div>
            <div class="about__advantages-description">Years of experience</div>
          </div>
          <div class="about__advantages-members">
            <div class="about__advantages-value">73+</div>
            <div class="about__advantages-description">Agency members</div>
          </div>
          <div class="about__advantages-projects">
            <div class="about__advantages-value">5.000</div>
            <div class="about__advantages-description">Projects complete</div>
          </div>
        </div>
      </div>
     </section>