    <!-- COMPANIES -->
     <section class="companies">
      <div class="container">
        <div class="companies__wrapper">
          <img src="images/features-1.webp" alt="Features icon 1">
          <img src="images/features-2.webp" alt="Features icon 2">
          <img src="images/features-3.webp" alt="Features icon 3">
          <img src="images/features-4.webp" alt="Features icon 4">
          <img src="images/features-5.webp" alt="Features icon 5">
        </div>
      </div>
     </section>