    <!-- SECTION FEATURES -->
     <section class="features">
      <div class="container">
        <div class="features__wrapper">
          <div class="features__content">
            <h5 class="features__subtitle subtitle">Features</h5>
            <h2 class="features__title title title--secondary">Give Your Site A New Look</h2>
            <strong class="features__text text--bold">
              Service range including technical skills, design, business understanding.
            </strong>
            <ul class="features__list list">
              <li>Range including technical skills</li>
              <li>Business understanding</li>
              <li>Partner on the long run</li>
            </ul>
          </div>
          <div class="features__images">
            <div class="features__rect-1"></div>
            <div class="features__rect-2"></div>
            <img class="features__abstract-1" src="images/features-abstract-1.svg" alt="Icon">
            <img class="features__abstract-2" src="images/features-abstract-2.svg" alt="Icon">
            <img class="features__img" src="images/features-image.webp" alt="Phone on table, cup of coffee right side">
            <div class="features__user user--circle">
              <img src="images/features-user.webp" alt="Men with black hair smiling">
            </div>
          </div>
        </div>
        <div class="features__advantages">
          <div class="features__advantages-content">
            <div class="features__advantages-subtitle subtitle">Features</div>
            <strong class="features__advantages-text text--bold">Long run, and work as an extension of the merchant's team.</strong>
            <div class="features__advantages-btn"><a href="#" class="button button--simple">Read More</a></div>
          </div>
          <div class="features__advantages-cards cards hovered">
            <!-- card 1 -->
            <div class="card professional">
              <div class="card__icon"><img src="images/professional.svg" alt="Professional icon"></div>
              <h4 class="card__title title--small">Professional</h4>
              <p class="card__text text">Full service range including technical skills, design.</p>
            </div>
            <!-- card 2 -->
            <div class="card accessibility">
              <div class="card__icon"><img src="images/accessibility.svg" alt="Accessibility icon"></div>
              <h4 class="card__title title--small">Accessibility</h4>
              <p class="card__text text">Business understanding, ability to put themselves.</p>
            </div>
          </div>
        </div>
      </div>
     </section>