  <!-- SECTION HEADER -->
  <header class="header">
    <div class="container">
      <div class="header__top">
        <a href="#" class="logo"><img class="logo__image" src="images/webai-logo.svg" alt="WebAI logo"></a>
        <nav class="menu header__menu">
          <ul class="menu__list header__menu-list">
            <li class="menu__item"><a href="#" class="menu__link">About</a></li>
            <li class="menu__item"><a href="#" class="menu__link">Services</a></li>
            <li class="menu__item"><a href="#" class="menu__link">Pricing</a></li>
            <li class="menu__item"><a href="#" class="menu__link">Blog</a></li>
            <li class="menu__item"><a href="#" class="menu__link">Contact</a></li>
          </ul>
        </nav>
        <button class="burger-menu-btn">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
      <div class="header__hero">
        <div class="header__content">
          <h5 class="header__subtitle subtitle">Modern Studio</h5>
          <h1 class="header__title">We’re Help To Build Your Dream Project</h1>
          <p class="header__text">
            Agency provides a full service range including technical skills, design, business understanding.
          </p>
          <div class="header__buttons">
            <a href="#" class="button button--orange">How We Work</a>
            <a href="#" class="button button--transparent">Contact Us</a>
          </div>
          <blockquote class="header__blockquote">
            <div class="header__blockquote-photo">
              <img src="images/user-photo-1.webp" alt="User photo, Men with light hair smiling">
            </div>  
            <div class="header__blockquote-content">
              <p class="header__blockquote-text">"Put themselves in the merchant's shoes"</p>
              <h6 class="header__blockquote-title">Meta Inc.</h6>
            </div>
          </blockquote>
        </div>
        <div class="header__images">
          <div class="header__images-circle"></div>
          <div class="header__images-container laptop"><img src="images/laptop.webp" alt="Laptop in open position, mackbook pro"></div>
          <div class="header__images-stars"><img src="images/header-star-white.svg" alt="Three starts icon color white"></div>
          <img class="header__images-spiral" src="images/header-abstract-1.svg" alt="Abstract image">
          <img class="header__images-curve" src="images/header-abstract-2.svg" alt="Abstract image">
          <div class="header__images-card">
            <div class="header__images-card--circle"></div>
            <div class="header__images-card--box">
              <div class="header__images-card--line-1"></div>
              <div class="header__images-card--line-2"></div>
              <div class="header__images-card--line-3"></div>
              <div class="header__images-card--line-4"></div>
            </div>
          </div>
          <img class="header__images-arrow" src="images/header-abstract-3.svg" alt="Abstract image">
          <div class="header__images-container girl"><img src="images/header-girl.webp" alt="Girl with black year smiling"></div>
        </div>
      </div>
    </div>
  </header>
  <main>