  <!-- SECTION HEADER -->
  <header class="header">
    <div class="container">
      <div class="header__top">
        <a href="#" class="logo"><img class="logo__image" src="images/webai-logo.svg" alt="WebAI logo"></a>
        <nav class="menu header__menu">
          <ul class="menu__list header__menu-list">
            <li class="menu__item"><a href="#" class="menu__link">About</a></li>
            <li class="menu__item"><a href="#" class="menu__link">Services</a></li>
            <li class="menu__item"><a href="#" class="menu__link">Pricing</a></li>
            <li class="menu__item"><a href="#" class="menu__link">Blog</a></li>
            <li class="menu__item"><a href="#" class="menu__link">Contact</a></li>
          </ul>
        </nav>
        <button class="burger-menu-btn">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
      <div class="header__hero">
        <div class="header__content">
          <h5 class="subtitle">Modern Studio</h5>
          <h1 class="header__title">We’re Help To Build Your Dream Project</h1>
          <p class="header__text text">
            Agency provides a full service range including technical skills, design, business understanding.
          </p>
          <div class="header__buttons">
            <a href="#" class="button button--orange">How We Work</a>
            <a href="#" class="button button--transparent">Contact Us</a>
          </div>
        </div>
        <div class="header__images"></div>
      </div>
    </div>
  </header>
  <main>