    <!-- SECTION HELP -->
    <section class="help">
      <div class="container">
        <h5 class="help__subtitle subtitle">Service</h5>
        <h3 class="help__title title title--tertiary">How Our Agency Can Help</h3>
        <div class="help__wrapper cards">
          <!-- card 1 -->
          <div class="card">
            <div class="card__icon">
              <img src="images/help-icon-1.svg" alt="">
            </div>
            <h4 class="card__title title title--small">Design</h4>
            <p class="card__text text">
              Agency provides a full service range including technical skills, design.
            </p>
            <a href="#" class="button button--simple">Learn More</a>
          </div>
          <div class="card">
            <div class="card__icon">
              <img src="images/help-icon-1.svg" alt="">
            </div>
            <h4 class="card__title title title--small">Development</h4>
            <p class="card__text text">
              Full service range including technical skills, design, business.
            </p>
            <a href="#" class="button button--simple">Discover More</a>
          </div>
          <div class="card">
            <div class="card__icon">
              <img src="images/help-icon-1.svg" alt="">
            </div>
            <h4 class="card__title title title--small">Marketing</h4>
            <p class="card__text text">
              Technical skills, design, business understanding, ability.
            </p>
            <a href="#" class="button button--simple">Explore Now</a>
          </div>
        </div>
      </div>
    </section>