    <!-- SECTION HOW -->
    <section class="how">
      <div class="container">
         <div class="how__wrapper">
          <div class="how__content">
            <h5 class="how__subtitle subtitle">How we work</h5>
            <h3 class="how__title title title--tertiary">Making Your Projects Look Awesome</h3>
            <p class="how__text">
              Technical skills, design, business understanding, ability to put themselves in the merchant's shoes.
            </p>
            <a href="#" class="button button--simple">Read More</a>
          </div>
          <div class="how__list">
            <ul>
              <li>Full service range including</li>
              <li>Technical skills, design, business</li>
              <li>Themselves in the merchant's</li>
            </ul>
          </div>
         </div>
      </div>
    </section>