    <!-- SECTION REEL -->
    <section class="reel">
      <div class="container">
        <div class="reel__wrapper">
          <div class="reel__video">
            <div class="reel__video-container video__container">
              <video id="video" disableRemotePlayback src="images/video.mp4"></video>
              <div class="video__btn-box">
                <span data-play="play" class="main-state video__btn">
                  <img src="images/play.svg" alt="play">
                </span>
                <span class="loader"></span>
              </div>
              <span class="video__time">
                <span class="current-duration">0:00</span>
              </span>
            </div>
          </div>
          <div class="real__content">
            <h5 class="reel__subtitle subtitle">Video Reel</h5>
            <h3 class="reel__title title title--tertiary">Unlock The Greatest Value Possible</h3>
            <p class="reel__text text">
              Design, business understanding, ability to put themselves in the merchant's shoes meant to partner.
            </p>
          </div>
        </div>
      </div>
    </section>