    <!-- SERVICES -->
    <section class="service">
      <div class="container">
        <div class="service__wrapper">
          <div class="service__images">
            <img class="service__image-1" src="images/triangle.svg" alt="Triangle shape">
            <img class="service__image-2" src="images/star-yellow.svg" alt="Star shape">
            <img class="service__abstract-1" src="images/service-abstract-1.svg" alt="Abstract shape">
            <img class="service__abstract-2" src="images/service-abstract-2.svg" alt="Abstract shape">
            <div class="service__user-1 user--window">
              <img src="images/service-user-1.webp" alt="Men with black hair lookin in phone and smiling">
            </div>
            <div class="service__user-2 user--circle">
              <img src="images/service-user-2.webp" alt="Girl with light hair hold two pices orange near eyes and smiling">
            </div>
            <div class="service__card">
              <div class="service__card-circle"></div>
              <div class="service__card-line--1"></div>
              <div class="service__card-line--2"></div>
              <div class="service__card-line--3"></div>
            </div>
          </div>
          <div class="service__content">
            <h5 class="service__subtitle subtitle">Service</h5>
            <h2 class="service__title title title--secondary">Making Complex Digital Products</h2>
            <strong class="service__text text--bold"></strong>
            <blockquote class="service__blockquote">
              <div class="service__blockquote-user">
                <div class="service__blockquote-user--box user--circle">
                  <img src="images/service-user-3.webp" alt="Girl with light hair looking to the left and smiling">
                </div>
              </div>
              <div class="service__blockquote-content">
                <p class="service__blockquote-text text">
                  "Understanding, ability to put themselves in the merchant's shoes. It is meant to partner."
                </p>
                <p class="service__blockquote-name">Jenny Murtaugh</p>
              </div>
            </blockquote>
            <div class="service__button-box">
              <a href="#" class="button button--white">Explore</a>
            </div>
          </div>
        </div>
      </div>
    </section>